<a href="https://colab.research.google.com/github/lemon6243/Algorism/blob/main/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98%26%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 알고리즘 - 문제 해결 절차, 실 생활에서의 알고리즘 ex) 요리 레시피, 악보,

# 1부터 n 까지의 정수의 합을 구하는 알고리즘...

# 1 부터 10까지의 정수
# 1 더하기 2 결과 3을 기억한다.
# 기억해둔 3에 그 다음 숫자 3를 더한 6을 기억한다.
# 기억해둔 6에 그 다음 숫자 4를 더한 10을 기억한다.
.
.
.
#............. 그 다음 숫자 10을 더한 55를 기억한다.
# 마지막 숫자를 출력한다.

# n 입력   ->    알고리즘    ->    출력 (1부터 n까지의 합)

In [4]:
def sum_n(n):
  s = 0
  for i in range(1, n+1): # 미만이기 때문에 +1을 해준다
    s = s + i
    #print("s=",s, "i =" ,i)
  return s 

print(sum_n(100))

5050

In [8]:
def sum_m(m):
  return m*(m+1) // 2

print(sum_m(100))

m(m+1)
------
  2

5050

In [11]:
#최대값 찾기
#주어진 숫자 n 개 중에서 가장 큰 수를 찾는 알고리즘...

# 4, 6 , 8, 1, 3 ,9 -> 9

def find_max(a):
  n = len(a)
  mx = a[0] # 4
  for i in range(1, n):
    if a[i] > mx:
      mx = a[i]
      print(mx)


  return mx

v = [4, 6 , 8, 1, 3 ,9]
print(find_max(v))

6
8
9
9

In [12]:
#최소값 찾기
#주어진 숫자 n 개 중에서 가장 작은 수를 찾는 알고리즘...

# 4, 6 , 8, 1, 3 ,9 -> 1

def find_mn(a):
  n = len(a)
  mn = a[0] # 4
  for i in range(1, n):
    if a[i] < mn:
      mn = a[i]
      print(mn)


  return mn

v = [4, 6 , 8, 1, 3 ,9]
print(find_mn(v))

1
1

In [18]:
#최소값 찾기
#주어진 숫자 n 개 중에서 가장 작은 수의 위치를 찾는 알고리즘...

# 4, 6 , 8, 1, 3 ,9 -> 3

def find_mn_idx(a):
  n = len(a)
  mnidx = 0
  for i in range(1, n):
    if a[i] < a[mnidx]:
      mnidx = i
  return mnidx

v = [4, 6 , 8, 1, 3 ,9]
print(find_mn_idx(v))

3

In [15]:
#최대값 위치 찾기
#주어진 숫자 n 개 중에서 가장 큰 수의 위치를 찾는 알고리즘...

# 4, 6 , 8, 1, 3 ,9 -> 5

def find_max_idx(a):
  n = len(a)
  mxidx = 0
  for i in range(1,n):
    if a[i] > a[mxidx]:
      mxidx = i
  return mxidx

v = [4,6,8,1,3,9]
print(find_max_idx(v))

5

In [20]:
# 팩토리얼 구하기

# 3! = 1 * 2 * 3 = 6
# 5! = 1 * 2 * 3 * 4 * 5 = 120

def fact(n):
  f = 1 
  for i in range(1, n+1):
    f = f * i
  return f

print(fact(3))

6

In [ ]:
# 재귀 팩토리얼

def hello():
  print("Hello")
  hello()

hello()

In [24]:
def fact(m):
  if m <= 1:
    return 1
  return m * fact(m-1)

print(fact(3))

6

In [31]:
# 자료구조 - 데이터와 정보를 컴퓨터에 저장하고 보관하는 방식.
#            알고리즘 문제를 풀려면 주어진 자료를 효율적으로 정리해서 보관하는 것이 필수

# 회문찾기 palindrome   큐와 스택
# 역삼역
#  기러기
# 일요일
# 사진사
# 기특한 특기
# 다시 합창 합시다
 # 큐와 스택
 # 줄서기 - 먼저온사람이 먼저 택시를 탄다.First in First out

 # 1 2 3 4              1 2 3 4

 #   in - enqueue      out - dequeue

 # 스택 stack
 # 접시쌓기 - 맨 위에 있는 접시 부터 처리. Last in First out

  #   in - push      out - pop

#  1 2 3 4             4 3 2 1


# 회문 찾기

# <-  w o w
#큐 w 스택 w
#   w o w ->

def palin(s):
  qu = []
  st = []

  # 1단계 - 각각 큐와 스택에 넣는다. 
  for x in s:
    if x.isalpha():  # 숫자, 기호, 특수문자가 아니면
      qu.append(x.lower())
      st.append(x.lower())
  # 2 단계 - 큐와 스택에 들어 있는 문자를 꺼내면서 비교
  while qu:  #큐에 문자가 있는 만큼만 반복
    if qu.pop(0) != st.pop(): 
      return False
  return True

print(palin("wow"))
print(palin("madam, i'm adam"))
print(palin("madam, iam adam"))

True
True
False

In [ ]:
#